repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
- repo: local
  hooks:
    - id: make-lint
      name: Lint
      entry: make lint
      language: system
      types: [python]
      pass_filenames: false
      always_run: true
