name: Python package

on:
  pull_request:
  push:
    branches:
      - master
      - dev

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          make install
      - name: Lint
        run: make lint

  test:
    runs-on: ${{ matrix.os }}
    needs: [lint]
    strategy:
      max-parallel: 6
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10", "pypy3.7"]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
      - name: Test
        run: make test
